<div class="center hero-unit">
  <h1>Welcome to BBmanager</h1>

  <h2>
    This is the home page for the BBmanager
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>