<div class="center hero-unit">
  <h1>Welcome to BBmanager</h1>

  <h2>
    A powerful tool to handle your BB in a brand new way
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>