<footer class="footer">
  <small>
    BBmanager is a project developed by <a href="http://www.am4you.net">am4you</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      <li><a href="http://blog.am4you.net/">News</a></li>
    </ul>
  </nav>
</footer>
